
<div class="row"></div>
<h1 class="display-1 text-center">What?</h1>
</div>
<div class="row text-center mb-4">
    <div class="col">
        This page picks an album of the list <a href="https://en.wikipedia.org/wiki/1001_Albums_You_Must_Hear_Before_You_Die">1001 Albums You Must Hear Before You Die</a> for you to listen to.
    </div>
</div>
<div class="row text-center">
    <div class="col">
        If you create an account, the album will be fixed until you entered a rating and once you did this, the next album will be activated. You can also decide not to listen to an album or to listen to it later and skip it for now.
    </div>
</div>


