<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Album-Picker: Listen to all the 1001 albums to listen before you die!</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
  <div class="container mb-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="$(linkto(:home))"><img src="img/genie/home.png" width="20" height="20" style="margin-bottom: 5px"> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if Main.UserApp.AlbumPicker.GenieAuthentication.authenticated() %>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="$(linkto(:listrating))">Ratings</a>
            </li>
            <% end %>
            <li class="nav-item">
              <a href="$(linkto(:what))" class="nav-link">What?</a>
            </li>
            <% if Main.UserApp.AlbumPicker.GenieAuthentication.authenticated() %>
            <li class="nav-item">
              <a href="$(linkto(:logout))" class="nav-link">Logout</a>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <% @yield %>
  </div>
</body>

</html>